#beeketing-debug-sidebar {
    overflow-x: hidden;: hidden;
    background-color: #333;
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    margin-top: 10px;
}

.debug-sidebar {
    z-index: 9999;
}

/*.debug-element {*/
    /*background-color: aqua;*/
    /*margin: 10px;*/
/*}*/

.bkbtn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    /*font-weight: 400;*/
    line-height: 1;
    margin: 10px;
    /*padding: 1.2em 2.8em;*/
    text-decoration: none;
    text-align: center;
    /*text-transform: uppercase;*/
    /*font-family: "Montserrat", sans-serif;*/
    /*font-weight: 700;*/
}
.bkbtn:hover, .bkbtn:focus {
    color: #fff;
    outline: 0;
}

.bkthird {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}
.bkthird:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.bkdisabled {
    border-color: #db1f15;
    color: #fff;
    box-shadow: 0 0 40px 40px #db4929 inset, 0 0 0 0 #db0038;
    transition: all 150ms ease-in-out;
}

button.bkbtn[disabled]{
    cursor: not-allowed;
}
