<div id="bktool_main" style="position: fixed !important; left: 100px">
    <div id="toggle">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>

    <div id="menu">
      <p>Thanks for using BK Tool</p>
      <button id="bk_add_dev" class="btn third">Add dev param</button>
      <button id="bk_reload_script" class="btn third">Add reload script</button>
      <button id="bk_open_hive" class="btn third">Open Hive Admin</button>
      <button id="bk_open_ss" class="btn third">Open Shop Script</button>
    </div>
</div>
